body {
    background: #797e8a;
    text-align: center;
    font-family: "lato", sans-serif;
}


.bottoni {
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:29px 48px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
    width: 50%;
    text-transform: uppercase;
}

.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: auto;
}

.wrapper {
    display: inline-block;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
}