@font-face {
    font-family: 'UPC-A';
    src: url("C:/Users/lorenzoga/Desktop/NonConformità/nonconformita/public/fonts/LibreBarcode39Text-Regular.ttf");
}

body {
    color: #000;
    background-color: #fff;
}

#container {
    /*Styling for any element with the id="container" */
    width: 210mm;
    height: 297mm;
    color: #fff;
    background-color: red;
    position: absolute;
}

#feedback {
    height: 231.5mm;
    width: 196mm;
    background-color: white;
    border-bottom: 0mm;
    padding-left: 14mm;
}

#etichetta {
    height: 65.5mm;
    width: 196mm;
    background-color: white;
    border: 1mm solid black;
    border-top-style: dotted;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    padding-left: 14mm;
}

#logoSection {
    height: 30mm;
    width: 37.6mm;
    float: left;
    color: white;
    border: 0.5mm solid black;
    border-right: 0px;
    align-content: flex-start;
    padding-left: 3mm;
}

#codiceNCFSection {
    height: 30mm;
    width: 74.6mm;
    float: left;
    color: black;
    text-align: center;
    word-wrap: break-word;
    font-weight: bold;
    font-size: 45px;
    border: 0.5mm solid black;
    border-left: 0px;
    border-right: 0px;
}

#codiceABarreSection {
    height: 30mm;
    width: 57.6mm;
    float: left;
    color: black;
    border: 0.5mm solid black;
    border-left: 0px;
    font-family: 'UPC-A';
    font-size: 10px;
    word-wrap: break-word;
    overflow: hidden;
}

#fornitoreSection {
    height: 10mm;
    width: 113.2mm;
    border: 0.5mm solid black;
    color: black;
    font-weight: bold;
    float: left;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    padding-left: 3mm;
    padding-top: 3mm;
    padding-bottom: 3mm;
}

#dataSection {
    height: 10mm;
    width: 56.6mm;
    border: 0.5mm solid black;
    color: black;
    font-weight: bold;
    float: left;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding-top: 3mm;
    padding-bottom: 3mm;
}

#progressiveNumberSection {
    height: 25mm;
    width: 56.6mm;
    color: black;
    font-weight: bold;
    float: left;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding-left: 3mm;
}

#descrizioneSection {
    height: 25mm;
    width: 113.2mm;
    color: black;
    font-weight: bold;
    float: left;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    word-wrap: break-word;
}

#quantitaNCFSection {
    height: 15mm;
    width: 28.25mm;
    border: 0.5mm solid black;
    color: black;
    font-weight: bold;
    float: left;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding-left: 1mm;
    padding-top: 1mm;
    text-align: center;
}

#lottoAnalisiSection {
    height: 15mm;
    width: 28.25mm;
    border: 0.5mm solid black;
    color: black;
    font-weight: bold;
    float: left;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    text-align: center;
    padding-top: 1mm;
}

#controlloSection {
    height: 15mm;
    width: 56mm;
    border: 0.5mm solid black;
    color: black;
    font-weight: bold;
    float: left;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding-left: 2mm;
    padding-top: 1mm;
}

#rilevazioneSection {
    height: 15mm;
    width: 54.5mm;
    border: 0.5mm solid black;
    color: black;
    font-weight: bold;
    float: left;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding-left: 2mm;
    padding-top: 1mm;
}

#classeDifettoSection {
    height: 10mm;
    width: 169.8mm;
    border: 0.5mm solid black;
    color: black;
    font-weight: bold;
    float: left;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    padding-left: 3mm;
    padding-top: 1mm;
    padding-bottom: 3mm;
}

#dettaglioSection {
    height: 70mm;
    width: 169.8mm;
    border: 0.5mm solid black;
    color: black;
    font-weight: bold;
    float: left;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
    padding-left: 3mm;
    padding-top: 1mm;
    padding-bottom: 3mm;
    word-wrap: break-word;
}

#operatoreDettaglio {
    height: 15mm;
    width: 169.8mm;
    border: 0.5mm solid black;
    color: black;
    font-weight: bold;
    float: left;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    padding-left: 3mm;
    padding-top: 1mm;
    padding-bottom: 3mm;
    text-align: right;
}

#commessaSection {
    height: 20mm;
    width: 169.8mm;
    border: 0.5mm solid black;
    color: black;
    font-weight: bold;
    float: left;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
    padding-left: 3mm;
    padding-top: 1mm;
    padding-bottom: 3mm;
}

#containerCommessaModificata {
    height: 10mm;
    width: 53.6mm;
    border: 0.5mm solid black;
    color: black;
    font-weight: bold;
    float: left;
    padding-left: 1mm;
    padding-top: 1mm;
    padding-bottom: 3mm;
}

#containerMessaInScarto {
    height: 10mm;
    width: 53.6mm;
    border: 0.5mm solid black;
    color: black;
    font-weight: bold;
    float: left;
    padding-left: 3mm;
    padding-top: 1mm;
    padding-bottom: 3mm;
    margin-left: 2mm;
}

#containerOperatore {
    height: 10mm;
    width: 49.6mm;
    border: 0.5mm solid black;
    color: black;
    font-weight: bold;
    float: left;
    padding-top: 1mm;
    padding-bottom: 3mm;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-left: 2mm;
}

#titleCommessaModificataSection {
    height: 8mm;
    width: 22mm;
    color: black;
    font-weight: bold;
    word-wrap: break-word;
    float: left;
    padding-top: 1mm;
    padding-bottom: 3mm;
}

#numeroCommessaModificata {
    height: 8mm;
    width: 20mm;
    color: black;
    word-wrap: break-word;
    float: left;
    padding-top: 1mm;
    padding-bottom: 3mm;
}

#quadratoCheck {
    height: 9mm;
    width: 9mm;
    border: 0.5mm solid black;
    margin-top: 0.8mm;
    float: left;
}

#titleMessaInScarto {
    height: 8mm;
    width: 42mm;
    color: black;
    font-weight: bold;
    word-wrap: break-word;
    float: left;
    padding-top: 1mm;
    padding-bottom: 3mm;
}

#etichettaLogo {
    height: 50mm;
    width: 25mm;
    color: black;
    font-weight: bold;
    word-wrap: break-word;
    float: left;
    padding-top: 1mm;
    padding-bottom: 3mm;
    border: 0.5mm solid black;
    margin-top: 5mm;
}

#labelCodiceABarre {
    font-family: 'UPC-A';
}